<div class="container" id="step-one-container">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" id="step-one-page-title">
                    Speaker registration - step 1/3
                </h3>
            </div>

            <div class="panel-body">

                <div class="alert alert-info">
                    <p>
                        Welcome to the speaker registration section! In this first step you'll need to provide your
                        personal details!
                    </p>
                </div>

                <form role="form" novalidate id="step-one-form"
                      [formGroup]="form" (submit)="submit($event)">

                    <div class="form-group" [ngClass]="{'has-error': ( submitted && !form.controls.name.valid )}">

                        <div class="input-group">
                            <label class="input-group-addon" for="step-one-name"><i
                                    class="glyphicon glyphicon-lock"></i></label>
                            <input id="step-one-name" type="text" class="form-control" name="step-one-name"
                                   placeholder="Your name"
                                   required
                                   formControlName="name">
                        </div>

                        <div class="error-group" *ngIf="( submitted && !form.controls.name.valid )">
                            <span class="help-block" *ngIf="form.controls.name.hasError('required')">
                                Your name is required
                            </span>
                        </div>

                    </div>

                    <div class="form-group" [ngClass]="{'has-error': ( submitted && !form.controls.email.valid )}">
                        <div class="input-group">
                            <label class="input-group-addon" for="step-one-email"><i
                                    class="glyphicon glyphicon-envelope"></i></label>
                            <input id="step-one-email" type="text" class="form-control" name="step-one-email"
                                   placeholder="Your email"
                                   required
                                   formControlName="email">
                        </div>

                        <div class="error-group" *ngIf="( submitted && !form.controls.email.valid )">
                            <span class="help-block" *ngIf="form.controls.email.hasError('required')">
                            Your email is required
                            </span>
                            <span class="help-block"
                                  *ngIf="!form.controls.email.hasError('required') && form.controls.email.hasError('invalidEmail')">
                                Your email is invalid
                            </span>
                        </div>

                    </div>

                    <div class="form-group"
                         [ngClass]="{'has-error': ( submitted && !form.controls.description.valid )}">

                        <div class="input-group">
                            <label class="input-group-addon" for="step-one-description"><i
                                    class="glyphicon glyphicon-align-justify"></i></label>
                            <textarea id="step-one-description" class="form-control"
                                      name="step-one-description"
                                      placeholder="Speaker description"
                                      required
                                      rows="5"
                                      formControlName="description"></textarea>
                        </div>

                        <div class="error-group" *ngIf="( submitted && !form.controls.description.valid )">
                            <span class="help-block" *ngIf="form.controls.description.hasError('required')">
                                Your description is required
                            </span>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-success" id="step-one-submit">Go to step 2</button>

                </form>

            </div>
        </div>
    </div>
</div>
