<div class="container" id="login-container">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title"><strong>Login</strong></h3>
        <div style="float:right; font-size: 80%; position: relative; top:-15px">
          <a [routerLink]=" ['/ForgotPassword']">Forgot password?</a>
        </div>
      </div>

      <div class="panel-body">

        <form role="form" novalidate [ngFormModel]="form" (submit)="submit($event)" id="login-form">

          <div class="alert alert-danger" *ngIf="false">
            Incorrect email or password!
          </div>

          <div class="form-group" [ngClass]="{'has-error': ( submitted && !form.controls.email.valid )}">
            <div class="input-group">
              <label class="input-group-addon" for="login-email"><i class="glyphicon glyphicon-envelope"></i></label>
              <input id="login-email" type="text" class="form-control" name="login-email"
                     placeholder="Your email"
                     required
                     ngControl="email">
            </div>

            <div class="error-group" *ngIf="( submitted && !form.controls.email.valid )">
              <span class="help-block" *ngIf="form.controls.email.hasError('required')">
                Your email is required
              </span>
              <span class="help-block" *ngIf="!form.controls.email.hasError('required') && form.controls.email.hasError('invalidEmail')">
                Your email is invalid
              </span>
            </div>

          </div>

          <div class="form-group" [ngClass]="{'has-error': ( submitted && !form.controls.password.valid )}">

            <div class="input-group">
              <label class="input-group-addon" for="login-password"><i class="glyphicon glyphicon-lock"></i></label>
              <input id="login-password" type="password" class="form-control" name="login-password"
                     placeholder="Your password"
                     required
                     ngControl="password">
            </div>

            <div class="error-group" *ngIf="( submitted && !form.controls.password.valid )">
              <span class="help-block" *ngIf="form.controls.password.hasError('required')">
                Your password is required
              </span>
            </div>

          </div>

          <button type="submit" class="btn btn-success">Login</button>

          <hr style="margin-top:10px;margin-bottom:10px;">

          <div class="form-group" style="margin-bottom:0;">

            <div style="font-size:85%">
              Don't have an account?
              <a [routerLink]=" ['/Register']">
                Register here
              </a>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
