hr {
  margin:{
    top:10px;
    bottom:10px;
  }
}

.container{
  margin:{
    top:50px;
  }
}

.close {
  margin: {
    top: -1px;
  }
}

.alert {
  padding: {
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 15px;
  }
}

.help-block {
  margin: {
    top: -5px;
    bottom: 3px;
  }
}

.form-group {
  margin: {
    bottom: 12px;
  }
  &:last-child{
    margin:{
      bottom:0;
    }

    & > div {
      font:{
        size: 85%;
      }
    }
  }
}

.error-group{
  margin:{
    top:12px;
  }
}
