hr {
  margin: {
    top: 10px;
    bottom: 10px;
  }
}

a {
  padding-bottom: 3px;
  color: #444;
  border: {
    bottom: 1px dotted #777;
  }

  &:hover,
  &:active {
    text: {
      decoration: none;
    }
    color: #222;
    border: {
      bottom: 1px solid #777;
    }
  }
}

.panel-heading {
  & > div {
    float: right;
    font: {
      size: 80%;
    }
    position: relative;
    top: -15px
  }
}

.container {
  margin: {
    top: 50px;
  }
}

.center {
  text-align: center;
}

.close {
  margin: {
    top: -1px;
  }
}

.alert {
  padding: {
    top: 7px;
    right: 7px;
    bottom: 7px;
    left: 15px;
  }
  margin: {
    bottom: 0;
  }
}

.panel-body {
  .alert {
    margin-bottom: 15px;
    font-size: 12px;
  }
}

.help-block {
  margin: {
    top: -5px;
    bottom: 3px;
  }
}

.form-group {
  margin: {
    bottom: 12px;
  }
  &:last-child {
    margin: {
      bottom: 0;
    }

    & > div {
      font: {
        size: 85%;
      }
    }
  }
}

.error-group {
  margin: {
    top: 12px;
  }
}
